# Stash folder
stash/

# Build directories
mini_analyser/build/*
mini_extractor/build/*
mini_thumbnailer/build/*
minivideo/build/*

# QtCreator project files
MiniVideo*
*.pro.user

# QMake temporary files
.qmake.stash

# CMake temporary files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
Makefile
install_manifest.txt
cmake_install.cmake

# CMake genertaed files
minivideo/src/minivideo_export.h
minivideo/src/minivideo_settings.h

# Doxygen documentation
minivideo/doc/doxygen_temp/html/*
minivideo/doc/doxygen_temp/latex/*

# cppcheck temporary files
minivideo/doc/cppcheck_temp/
