# Build directories
build/
minivideo/bin/
minivideo/build/
mini_analyser/bin/
mini_analyser/build/
mini_extractor/bin/
mini_extractor/build/
mini_thumbnailer/bin/
mini_thumbnailer/build/

# CMake temporary files
CMakeLists.txt.user
CMakeCache.txt

# QtCreator & other IDEs project directories
**/.qtcreator/
**/.qtc_clangd/
**/.vscode/

# Doxygen & cppcheck generated content
minivideo/doc/doxygen_temp/html/
minivideo/doc/doxygen_temp/latex/
minivideo/doc/cppcheck_temp/

# Others
stash/*
.DS_Store
