<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
				<string>3GP</string>
				<string>3IV</string>
				<string>3gp</string>
				<string>3iv</string>
				<string>AVI</string>
				<string>DIVX</string>
				<string>I263</string>
				<string>H264</string>
				<string>H265</string>
				<string>H266</string>
				<string>M2TS</string>
				<string>M4V</string>
				<string>MKV</string>
				<string>MOV</string>
				<string>MP2</string>
				<string>MP4</string>
				<string>MPEG</string>
				<string>MPG</string>
				<string>MPG2</string>
				<string>WEBM</string>
				<string>QT</string>
				<string>VCD</string>
				<string>VOB</string>
				<string>avi</string>
				<string>divx</string>
				<string>flac</string>
				<string>fli</string>
				<string>flv</string>
				<string>i263</string>
				<string>h264</string>
				<string>h265</string>
				<string>h266</string>
				<string>m2ts</string>
				<string>m4v</string>
				<string>mkv</string>
				<string>mov</string>
				<string>mp2</string>
				<string>mp4</string>
				<string>mpeg</string>
				<string>mpg</string>
				<string>mpg2</string>
				<string>mpg4</string>
				<string>qt</string>
				<string>vcd</string>
				<string>vob</string>
				<string>webm</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Movie file</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>AAC</string>
				<string>AC3</string>
				<string>AIFF</string>
				<string>M4A</string>
				<string>MKA</string>
				<string>MP1</string>
				<string>MP2</string>
				<string>MP3</string>
				<string>OGG</string>
				<string>OPUS</string>
				<string>PCM</string>
				<string>WAV</string>
				<string>aac</string>
				<string>ac3</string>
				<string>aiff</string>
				<string>m4a</string>
				<string>mka</string>
				<string>mp1</string>
				<string>mp2</string>
				<string>mp3</string>
				<string>ogg</string>
				<string>opus</string>
				<string>pcm</string>
				<string>wav</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Audio file</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleName</key>
	<string>mini_analyser</string>
	<key>CFBundleIdentifier</key>
	<string>com.minivideo.minianalyser</string>
	<key>CFBundleShortVersionString</key>
	<string>@SHORT_VERSION@</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>@ICON@</string>
	<key>CFBundleExecutable</key>
	<string>@EXECUTABLE@</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
