[Desktop Entry]
Type=Application
Name=mini_analyser
Comment=Analyse your multimedia files!
Exec=mini_analyser %U
Icon=mini_analyser
Categories=AudioVideo
MimeType=video/mp4;video/quicktime;video/mp4v-es;application/x-extension-mp4;audio/mp4;application/x-matroska;audio/x-matroska;video/x-matroska;video/webm;video/dv;video/mpeg;video/x-mpeg;video/mp2t;video/avi;video/x-avi;video/mpeg;video/msvideo;video/x-ms-asf;video/x-ms-wmv;video/x-msvideo;audio/webm;application/ogg;audio/ogg;video/ogg;audio/x-mp3;audio/x-mpeg;audio/mpeg;audio/x-wav;audio/x-m4a;audio/x-ms-asf;audio/x-vorbis+ogg;
